/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
}

/* Utilities */

header {
    background-color: #FF6900;
    height: 100px;
    margin-bottom: 50px;
}

.flex-container {
    display: flex;
}

.flex-main {
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.flex-footer {
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Title */

h5 {
    color: white;
    font-size: 16px;
}

h6 {
    color: white;
    font-size: 12px;
    font-weight: bold;
}

/* Header */

.flex-header {
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.icons-header {
    color: white;
}

.logo {
    height: 80px;
    background-image: url(img/boolean-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
}

/* Main */

.card {
    position: relative;
}

img {
    max-width: 486.66666666px;
}

.label {
    position: absolute;
    left: 0;
    bottom: 120px;
    color: white;
}

.sale {
    background-color: red;
    padding: 5px 15px;
}

.sustainability {
    background-color: green;
    padding: 5px 15px;
}

/* Img hover */

.second-img {
    display: none;
}

.card-img:hover .main-img {
    display: none;
}

.card-img:hover .second-img {
    display: block;
}

/* Main - copy */

.new-price {
    color: red;
    font-weight: bolder;
}

.old-price {
    text-decoration: line-through;
}

/* Icons */

.heart {
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    padding: 8px 15px;
    font-size: 2rem;
}

.heart:hover {
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    padding: 8px 15px;
    font-size: 2rem;
    color: red;
}

.fa-brands {
    color: white;
    --fa-primary-color: white;
}

.fa-border {
    border: transparent;
    --fa-border-radius: 10px;
}

/* Footer */

footer {
    background-color: #1A1A1A;
    height: 100px;
    margin-top: 50px;
}

.legal {
    flex-basis: 25%;
}

.social {
    line-height: 140%;
}

.legal-copy {
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    line-height: 150%;
}

/* Extra */

/* Tentativo con :hover::after */

/* .img:hover::after {
    content: url(img/1b.webp);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 486.666666px;
    display: block;
} */


/* .hover-img {
    content: url(img/1b.webp);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 486.666666px;
}

.hover-img:hover {
    content: url(img/1b.webp);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 486.666666px;
} */